<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sexy.tea.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="sexy.tea.model.City">
        <!--@mbg.generated generated on Sat Sep 26 15:10:16 CST 2020.-->
        <!--@Table city-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="center_longitude" jdbcType="VARCHAR" property="centerLongitude"/>
        <result column="center_latitude" jdbcType="VARCHAR" property="centerLatitude"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Sat Sep 26 15:10:16 CST 2020.-->
        id, city, center_longitude, center_latitude, `count`, `status`, create_time, update_time
    </sql>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated generated on Sat Sep 26 15:10:16 CST 2020.-->
        update city

        <trim prefix="set" suffixOverrides=",">
            <trim prefix="city = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.city,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="center_longitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.centerLongitude,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="center_latitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.centerLatitude,jdbcType=VARCHAR}
                </foreach>
            </trim>
            <trim prefix="`count` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.count,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.status,jdbcType=TINYINT}
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
        </trim>

        where id in

        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated generated on Sat Sep 26 15:10:16 CST 2020.-->
        update city

        <trim prefix="set" suffixOverrides=",">
            <trim prefix="city = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.city != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.city,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="center_longitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.centerLongitude != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.centerLongitude,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="center_latitude = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.centerLatitude != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.centerLatitude,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`count` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.count != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.count,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`status` = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.status != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.status,jdbcType=TINYINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="create_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.createTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.updateTime != null">
                        when id = #{item.id,jdbcType=INTEGER} then #{item.updateTime,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
        </trim>

        where id in

        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated generated on Sat Sep 26 15:10:16 CST 2020.-->
        insert into city
                (city, center_longitude, center_latitude, `count`, `status`, create_time, update_time)
                values

        <foreach collection="list" item="item" separator=",">
            (#{item.city,jdbcType=VARCHAR}, #{item.centerLongitude,jdbcType=VARCHAR},
             #{item.centerLatitude,jdbcType=VARCHAR},
             #{item.count,jdbcType=INTEGER}, #{item.status,jdbcType=TINYINT}, #{item.createTime,jdbcType=TIMESTAMP},
             #{item.updateTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="sexy.tea.model.City"
            useGeneratedKeys="true">
        <!--@mbg.generated generated on Sat Sep 26 15:10:16 CST 2020.-->
        insert into city

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>

            city,
            center_longitude,
            center_latitude,
            `count`,
            `status`,
            create_time,
            update_time,
        </trim>

        values

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>

            #{city,jdbcType=VARCHAR},
            #{centerLongitude,jdbcType=VARCHAR},
            #{centerLatitude,jdbcType=VARCHAR},
            #{count,jdbcType=INTEGER},
            #{status,jdbcType=TINYINT},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
        </trim>

        on duplicate key update

        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>

            city             = #{city,jdbcType=VARCHAR},
            center_longitude = #{centerLongitude,jdbcType=VARCHAR},
            center_latitude  = #{centerLatitude,jdbcType=VARCHAR},
            `count`          = #{count,jdbcType=INTEGER},
            `status`         = #{status,jdbcType=TINYINT},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="sexy.tea.model.City"
            useGeneratedKeys="true">
        <!--@mbg.generated generated on Sat Sep 26 15:10:16 CST 2020.-->
        insert into city

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="centerLongitude != null">
                center_longitude,
            </if>
            <if test="centerLatitude != null">
                center_latitude,
            </if>
            <if test="count != null">
                `count`,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>

        values

        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="centerLongitude != null">
                #{centerLongitude,jdbcType=VARCHAR},
            </if>
            <if test="centerLatitude != null">
                #{centerLatitude,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>

        on duplicate key update

        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="centerLongitude != null">
                center_longitude = #{centerLongitude,jdbcType=VARCHAR},
            </if>
            <if test="centerLatitude != null">
                center_latitude = #{centerLatitude,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                `count` = #{count,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="search" resultMap="BaseResultMap">
        SELECT DISTINCT *
        FROM `city`
        WHERE `status` <![CDATA[<>]]> -1
          AND city LIKE #{cityName}
    </select>
</mapper>