<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sexy.tea.mapper.ShoppingRecordMapper">
    <resultMap id="BaseResultMap" type="sexy.tea.model.ShoppingRecord">
        <!--@mbg.generated generated on Wed Nov 04 15:07:14 CST 2020.-->
        <!--@Table shopping_record-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
        <result column="items" jdbcType="VARCHAR" property="items"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,
        `uid`,
        items,
        `status`,
        create_time,
        update_time
    </sql>


    <update id="deleteByUid" parameterType="java.lang.Long">
        UPDATE shopping_record
        SET `status` = -1
        WHERE uid = #{uid}
    </update>

    <update id="updateShoppingRecordByUid" parameterType="java.lang.Long">
        UPDATE shopping_record
        SET `status` = -1
        WHERE uid = #{uid}
    </update>
</mapper>