<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sexy.tea.mapper.SysLogMapper">
  <resultMap id="BaseResultMap" type="sexy.tea.model.SysLog">
    <!--@mbg.generated generated on Sat Nov 28 11:48:26 CST 2020.-->
    <!--@Table sys_log-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="args" jdbcType="VARCHAR" property="args" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="use" jdbcType="VARCHAR" property="use" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Nov 28 11:48:26 CST 2020.-->
    id, uri, `method`, args, `result`, `use`, ip, create_time
  </sql>
</mapper>